<h3>Please Log In</h3>

<%= form_with url: admin_session_path do |form| %>

  <div class="mb-3" >
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control form-control-sm" %>
  </div>
  <div class="mb-3" >
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control form-control-sm" %>
  </div>
  <%= form.submit 'Log In', class: "btn btn-primary btn-sm" %>
  <%= link_to 'Home Page', root_path, class: 'btn btn-outline-secondary btn-sm' %>
<% end %>
