<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" style='color: white'>EverLabs<sub>TEST</sub></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link active" %>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to 'Admin Area', admin_posts_path, class: "nav-link active" %>
          </li>  
          <li class="nav-item">
            <%= link_to 'Create Post', new_admin_post_path, class: "nav-link active" %>
          </li>  
          <li class="nav-item">
            <%= link_to 'Log Out', admin_session_path, data: {method: :delete}, class: "nav-link active" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Admin Login', new_admin_session_path, class: "nav-link active" %>
          </li>
        <% end %>
      </ul>
      
      <%= render 'shared/search' if controller_name == 'posts' %>

    </div>
  </div>
</nav>

<% if controller_path == 'admin/posts' %>
  <div class="alert alert-warning mt-3" role="alert">
    You are in admin panel. Now you can:
    <small>
    <ul>
      <li>Create/Edit/Delete Posts</li>
      <li>Delete Comments</li>
    </ul>  
    </small>
    Creating new commets is not avaliable for Admin :)
  </div>
<% end %>

<% if controller.action_name == 'indexfive' %>
  <div class="alert alert-warning mt-3" role="alert">
    Only 5 results are displayed right now. To quit this option <%= link_to 'click here', root_path %>
  </div>
<% end %>
