
<h3>Posts' List</h3>
<% if controller_path == 'posts' %>
  <%= link_to 'Show FIRST Five Posts', firstfive_url %><br>
  <%= link_to 'Show LAST Five Posts', lastfive_url %>
<% end %>
<br><br>
<% if logged_in? and current_page? admin_posts_path %>
  <%= link_to 'Create Post', new_admin_post_path, class: "btn btn-primary btn-sm" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col" width=50%>Body (truncated, plain text)</th>
      <th scope="col"><%= sort_link(@q, :position) %></th>
      <th scope="col"><%= sort_link(@q, :created_at) %></th>
      <th scope="col"><%= sort_link(@q, :updated_at) %></th>
      <% if logged_in? and current_page? admin_posts_path %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
     <% @posts.each do |post| %>
       <tr>
         <td>
           <%= link_to post.title, (current_page? admin_posts_path) ? admin_post_path(post) : post_path(post) %>
           <br>
           <div style='color: grey; font-size: small'>
             <%= pluralize(post.comments.count, "comment") %>
           </div>
         </td>
         <td><small><%== post.body.to_plain_text.truncate(250, omission: '... (continued)') %></small></td>
         <td><%= post.position %></td>
         
         <td><small><%= post.created_at.strftime("%e.%m.%y at %T") %></small></td>
         <td><small><%= post.updated_at.strftime("%e.%m.%y at %T") %></small></td>
         <% if logged_in? and current_page? admin_posts_path %>
           <td>
             <%= link_to 'Edit', edit_admin_post_path(post), class: "btn btn-primary btn-sm" %>
             <%= link_to 'Delete', admin_post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this article?' },  class: "btn btn-outline-danger btn-sm" %>
           </td>
         <% end %>
        </tr> 
     <% end %>
  </tbody>
</table>

